<div class="navbar">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="fa fa-fw fa-home"></i> Home
    </NavLink>

    <NavLink class="nav-link" href="counter">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Counter
    </NavLink>

    <NavLink class="nav-link" href="weather">
        <i class="fa-solid fa-cloud-showers-heavy"></i> Weather
    </NavLink>
</div>
